.container {
  display: flex;
  flex-direction: column;
}

.input {
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 5px;
  font-weight: bold;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 12px 20px;
  border: none;
  border-bottom: 3px solid #f0f0f0;
  font-size: 1.3em;
  background-color: #16101075;
  color: #f0f0f0;
  transition: all 0.5s ease-in-out;

  &:focus {
    outline: none;
  }

  &:focus::placeholder {
    color: transparent;
  }

  &::placeholder {
    transition: all 0.2s ease-in-out;
    color: #f0f0f0;
  }

  &_error {
    border-bottom: 3px solid #eedf0e;
    color: #eedf0e;
    &::placeholder {
      color: #eedf0e;
    }
  }
}

.error {
  font-size: 0.8em;
  color: #eedf0e;
  font-weight: 600;
}
